
WebContent/META-INF/MANIFEST.MF
target/Login/WEB-INF/lib/javax.servlet-api-3.0.1.jar
target/PetClinic/WEB-INF/lib/primefaces-5.3.jar
target/PetClinic/WEB-INF/lib/jsf-impl-2.2.2.jar
target/PetClinic/WEB-INF/lib/jsf-api-2.2.2.jar
target/PetClinic.war
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/Login/WEB-INF/lib/primefaces-5.3.jar
target/Login/WEB-INF/lib/jsf-impl-2.2.2.jar
target/Login/WEB-INF/lib/jsf-api-2.2.2.jar
target/Login.war
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
.settings/.jsdtscope
target/test-classes/com/tutki/PetClinic/AppTest.class
target/surefire-reports/TEST-com.tutki.PetClinic.AppTest.xml
target/surefire-reports/com.tutki.PetClinic.AppTest.txt
target/PetClinic/WEB-INF/lib/javax.servlet-api-3.0.1.jar
target/PetClinic/WEB-INF/classes/META-INF/maven/com.tutki/PetClinic/pom.xml
target/PetClinic/WEB-INF/classes/META-INF/maven/com.tutki/PetClinic/pom.properties
target/PetClinic/WEB-INF/classes/META-INF/MANIFEST.MF
target/PetClinic/WEB-INF/classes/com/tutki/PetClinic/App.class
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/stax-api-1.0.1.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/stax-api-1.0-2.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/slf4j-api-1.7.5.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/primefaces-5.3.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/oauth2-oidc-sdk-4.5.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/nimbus-jose-jwt-3.1.2.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/mssql-jdbc-6.1.0.jre8.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/mail-1.4.5.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/lang-tag-1.4.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/json-smart-1.1.1.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jsf-api-2.2.2.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jsf-impl-2.2.2.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jettison-1.1.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jersey-json-1.13.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jersey-core-1.13.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jersey-client-1.13.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jcip-annotations-1.0.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jboss-transaction-api_1.2_spec-1.0.1.Final.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jboss-logging-3.3.0.Final.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jaxb-impl-2.2.3-1.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jaxb-api-2.2.2.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/javax.servlet-api-3.0.1.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/javax.inject-1.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/javassist-3.20.0-GA.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jandex-2.0.3.Final.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-xc-1.9.2.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-mapper-asl-1.9.2.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-jaxrs-1.9.2.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-core-asl-1.9.2.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/httpcore-4.3.3.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/httpclient-4.3.6.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/hibernate-jpa-2.1-api-1.0.0.Final.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/hibernate-core-5.2.10.Final.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/hibernate-commons-annotations-5.0.1.Final.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/gson-2.2.4.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/lib/dom4j-1.6.1.jar
*.jar
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/classes/globalVariables/StaticVariables.class
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/classes/com/tutki/PetClinic/Owner/OwnerDAO.class
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/classes/com/tutki/PetClinic/Owner/Owner.class
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/classes/com/tutki/PetClinic/Owner/DisplayOwners.class
target/PetClinic-0.0.1-SNAPSHOT/WEB-INF/classes/com/tutki/PetClinic/App.class
target/PetClinic-0.0.1-SNAPSHOT.war
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/m2e-wtp/web-resources/META-INF/maven/com.tutki/PetClinic/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/com.tutki/PetClinic/pom.properties
target/Login/WEB-INF/classes/META-INF/maven/com.tutki/PetClinic/pom.xml
target/Login/WEB-INF/classes/META-INF/maven/com.tutki/PetClinic/pom.properties
target/Login/WEB-INF/classes/META-INF/MANIFEST.MF
target/Login/WEB-INF/classes/com/tutki/PetClinic/App.class
target/classes/globalVariables/StaticVariables.class
target/classes/com/tutki/PetClinic/Owner/OwnerDAO.class
target/classes/com/tutki/PetClinic/Owner/Owner.class
target/classes/com/tutki/PetClinic/Owner/DisplayOwners.class
target/classes/com/tutki/PetClinic/App.class
src/test/java/com/tutki/PetClinic/AppTest.java
.settings/org.eclipse.m2e.wtp.prefs
.project
.metadata/WebContent/WEB-INF/faces-config.pageflow
.classpath
